@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-theme-green {
  background-color: rgb(62, 255, 111, 1);
}

.border-theme-green {
  border-color: rgb(62, 255, 111, 1);
}

.text-theme-green {
  color: rgb(62, 255, 111, 1);
}

html {
  scroll-behavior: smooth;
}
